{% extends 'base.html' %}
<!---->
{% block title %}Customer: {{ customer.name|upper }}{% endblock %}
<div></div>
{% block content %}
<h2 class="h5 mb-2">Customer: {{ customer.name }}</h2>
<table class="table">
  <thead>
    <tr>
      <th>Invoice No</th>
      <th>Billed On</th>
      <th>Products</th>
      <th>Total</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
    {% for invoice in customer.invoices.all %}
    <tr>
      <td>{{ invoice.inv_no }}</td>
      <td>{{ invoice.billed_on }}</td>
      <td>
        {% for invoice_product in invoice.invoiceproduct_set.all %}
        <!---->
        {{ invoice_product.product.sku_id }} (x{{ invoice_product.qty }})<br />
        {% endfor %}
      </td>
      <td>${{ invoice.total|floatformat:2 }}</td>
      <td>{{ invoice.id }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
